* {
    margin: 0;
    box-sizing: border-box;
}


#navbarWrapper {
    background: linear-gradient(to right, rgb(83, 1, 83), rgb(146, 7, 146), red, orange, yellow);
    height:5rem;
    display: flex;
}


h1 {
    font-family: 'Pacifico', cursive;
    color:whitesmoke;
    padding-top:0.6rem;
    padding-left: 3rem;
}

